In [1]:
import numpy as np 
import pandas as pd 
import os

df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

c:\users\fdm\desktop\my-challenge\venv\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
c:\users\fdm\desktop\my-challenge\venv\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (50) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df_train.fillna(0, inplace=True)

In [3]:
df_test.fillna(0, inplace=True)

In [4]:
df_train.head()

,id,label,province,district,age_source1,age_source2,maCv,FIELD_1,FIELD_2,FIELD_3,...,FIELD_48,FIELD_49,FIELD_50,FIELD_51,FIELD_52,FIELD_53,FIELD_54,FIELD_55,FIELD_56,FIELD_57
0,0,0,0,0,0.0,0.0,0,1,1.0,2547.0,...,True,True,0.00,0.000,0.000,0.000,0.0,0.00,0.0,0.0
1,1,0,Tỉnh Đồng Nai,Thành phố Biên Hòa,44.0,44.0,None,1,0.0,-1.0,...,False,True,29.77,17.561,30.955,31.171,0.0,0.04,0.0,0.0
2,2,0,Tỉnh Đồng Nai,Huyện Long Thành,30.0,30.0,Công nhân,0,1.0,3273.0,...,True,True,29.77,56.512,30.955,31.171,0.0,0.16,0.0,0.0
3,3,0,Tỉnh Tuyên Quang,Thành phố Tuyên Quang,43.0,0.0,0,0,1.0,3991.0,...,True,False,0.00,0.000,0.000,0.000,0.0,0.00,0.0,0.0
4,4,0,Thành phố Hồ Chí Minh,Quận 1,21.0,21.0,None,0,1.0,1450.0,...,True,True,29.77,13.789,30.955,31.171,0.0,0.03,0.0,0.0

In [5]:
for col in df_train.columns:
        if df_train[col].dtype == 'object' and len(df_train[col].unique()) >= 10:
            df_train.drop(columns=[col], inplace=True)

In [6]:
df_train.head()

,id,label,age_source1,age_source2,FIELD_1,FIELD_2,FIELD_3,FIELD_4,FIELD_5,FIELD_6,...,FIELD_48,FIELD_49,FIELD_50,FIELD_51,FIELD_52,FIELD_53,FIELD_54,FIELD_55,FIELD_56,FIELD_57
0,0,0,0.0,0.0,1,1.0,2547.0,0.0,0.0,0.0,...,True,True,0.00,0.000,0.000,0.000,0.0,0.00,0.0,0.0
1,1,0,44.0,44.0,1,0.0,-1.0,1.0,1.0,1.0,...,False,True,29.77,17.561,30.955,31.171,0.0,0.04,0.0,0.0
2,2,0,30.0,30.0,0,1.0,3273.0,1.0,4.0,0.0,...,True,True,29.77,56.512,30.955,31.171,0.0,0.16,0.0,0.0
3,3,0,43.0,0.0,0,1.0,3991.0,1.0,1.0,0.0,...,True,False,0.00,0.000,0.000,0.000,0.0,0.00,0.0,0.0
4,4,0,21.0,21.0,0,1.0,1450.0,0.0,2.0,0.0,...,True,True,29.77,13.789,30.955,31.171,0.0,0.03,0.0,0.0

In [7]:
df_test.fillna(0, inplace=True)

In [8]:
for col in df_test.columns:
        if df_test[col].dtype == 'object' and len(df_test[col].unique()) >= 10:
            df_test.drop(columns=[col], inplace=True)

In [10]:
df_test.head()

,id,age_source1,age_source2,FIELD_1,FIELD_2,FIELD_3,FIELD_4,FIELD_5,FIELD_6,FIELD_8,...,FIELD_48,FIELD_49,FIELD_50,FIELD_51,FIELD_52,FIELD_53,FIELD_54,FIELD_55,FIELD_56,FIELD_57
0,30000,0.0,0.0,1,1.0,719.0,0.0,0.0,0.0,0,...,True,True,0.00,0.000,0.000,0.000,0.0,0.00,0.0,0.0
1,30001,0.0,0.0,1,1.0,1442.0,0.0,0.0,0.0,0,...,True,True,0.00,0.000,0.000,0.000,0.0,0.00,0.0,0.0
2,30002,32.0,32.0,0,1.0,4000.0,2.0,3.0,0.0,MALE,...,True,False,29.77,66.428,30.955,31.171,0.0,0.31,0.0,0.0
3,30003,0.0,25.0,0,1.0,1073.0,0.0,0.0,0.0,FEMALE,...,True,True,29.77,21.478,30.955,31.171,0.0,0.05,0.0,0.0
4,30004,0.0,0.0,1,1.0,703.0,0.0,0.0,0.0,0,...,True,True,0.00,0.000,0.000,0.000,0.0,0.00,0.0,0.0

In [11]:
df_train.to_csv('tr.csv',index=False)
df_test.to_csv('te.csv',index=False)

In [13]:
target = df_train['label']
f = df_train.drop(['label', 'id'] , axis = 1)
testf = df_test.drop(['id'], axis = 1 )

In [14]:
from sklearn.decomposition import PCA, FastICA
pca = PCA(n_components=12, random_state=420)
pca2_results_train = pca.fit_transform(f)
pca2_results_test = pca.transform(testf)

ValueError: could not convert string to float: 'MALE'